on:
  schedule:
    - cron: '0 8 * * 1-5'
  push:
    branches: [ main ]

jobs:
  polaris:
    runs-on: windows-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v5
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.2 # Setup NuGet.exe for package management

    - name: Restore NuGet Packages
      run: nuget restore SpectreConsoleMenuVisualBasic.sln # Replace with your solution file name
      working-directory: ${{ github.workspace }}/product2 # Ensure the command runs in the correct directory

    - name: Find Visual Studio Installation and Add Devenv to PATH
      shell: powershell
      run: |
        # Use vswhere.exe to find the latest Visual Studio installation path
        $vsPath = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
        
        # Construct the path to devenv.exe
        $devenvDir = Join-Path $vsPath "Common7\IDE"
        
        # Add the devenv directory to the PATH environment variable for subsequent steps
        echo "Adding $devenvDir to PATH"
        echo "PATH=$devenvDir;$env:PATH" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Build product2 with devenv
      run: |
        cd product2
        dir
        devenv SpectreConsoleMenuVisualBasic.sln /build
    - name: Polaris Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        polaris_server_url: ${{ vars.POLARIS_SERVERURL }}
        polaris_access_token: ${{ secrets.POLARIS_ACCESSTOKEN }}
        polaris_assessment_types: 'SAST,SCA'
        polaris_application_name: ALB-VB.NET-test
        polaris_project_name: product2
        project_directory: ./product2
