on:
  schedule:
    - cron: '0 8 * * 1-5'
  push:
    branches: [ main ]

jobs:
  polaris:
    runs-on: windows-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Build product1 with devenv
      run: |
        cd product1
        devenv MediaPlayerUI.sln /build
