on:
  schedule:
    - cron: '0 8 * * 1-5'
  push:
    branches: [ main ]

jobs:
  polaris:
    runs-on: windows-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v5
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    - name: Build product1 with devenv
      run: |
        where msbuild
        where devenv.exe
        cd product1
        devenv.exe MediaPlayerUI.sln /build
